@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.fa-instagram {
  padding-right: 20px;
  border-right: solid 1px black;
}

.fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}
.symbols .far {
  margin: 0 15px;
}