@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 95%;
  padding-bottom: 20px;
  margin: 0 auto;
  border-bottom: solid 1px lightgray;
}

.logos{
  font-size: 1.6rem;
  width: 33%;
}

.fa-instagram {
  padding-right: 20px;
  border-right: solid 1px black;
}

.instaLogo {
  width: 120px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 1.6rem;
}

.fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.search input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 32px;
}

.symbols {
  font-size: 1.6rem;
  width: 33%;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.symbols .far {
  margin: 0 15px;
}